@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    color: #111418;
    font-family: Open-Sans, sans-serif;
    font-weight: 300;
}

.game-background {
    background-color: #11141888;
    border-radius: 50px;
}

.heading {
    text-align: center;
    padding: 25px;
    margin: 25px;
}

.number-div {
    text-align: center;
}

.num-button {
    color: white;
    background-color: rgba(2, 2, 2, 0.8);
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.results-section {
    text-align: center;
    color: green;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

.results-button {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

/* .money-image {
    width: auto;
    height: 100px;
} */