@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #111418;
    background-color: rgba(189, 189, 189, 0.021);
    font-family: Open-Sans, sans-serif;
    font-weight: 300;
}

section {
    min-height: calc(100vh - 225px);
}

p {
    text-align: center;
    font-size: 25px;
    padding: 10px;
    margin: 0px 40px;
    display: flex;
    justify-content: center;
    font-weight: 300;
}

footer {
    margin: auto;
    text-align: center;
}

.span {
    padding: 25px;
    text-align: center;
}

.game-background {
    color: #111418;
    font-family: Open-Sans, sans-serif;
    font-weight: 300;
    border: none;
    padding: 0;
    height: 600px;
    width: 50%;
    margin: auto;
    background-color: crimson;
    border: solid black 1px;
    border-radius: 10px;
}

h2 {
    font-size: 30px;
}

.heading {
    text-align: center;
    font-size: 40px;
    padding: 25px;
    /* margin: 25px; */
}

#error-page {
    height: 100vh;
}

.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    margin: 30px;
}

.player-div {
    text-align: center;
    padding-top: 55px;
}

.computer-div {
    text-align: center;
    padding-top: 40px;
}

.num-button {
    color: white;
    background-color: rgba(2, 2, 2, 0.8);
    font-size: 20px;
    padding: 10px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 10px;
}

i {
    font-size: 45px;
    padding: 8px;
}

.results-section {
    text-align: center;
    color: green;
    font-size: 25px;
    padding: 10px;
    margin: 10px;
}

.results-button {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

.score-section {
    text-align: center;
    font-size: 20px;
    color: white;
}

span {
    padding: 15px;
}

@media screen and (max-width: 914px) {

    .num-button {
        color: white;
        background-color: rgba(2, 2, 2, 0.8);
        font-size: 20px;
        padding: 5px;
        margin: 5px;
        border: 1px solid black;
        border-radius: 10px;
    }
}

@media screen and (max-width: 864px) {

    .game-background {
        width: auto;
        margin: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {

    .game-background {
        color: #111418;
        font-family: Open-Sans, sans-serif;
        font-weight: 300;
        border: none;
        padding: 0;
        height: 600px;
        width: auto;
        margin: auto;
        background-color: crimson;
        border: solid black 1px;
        border-radius: 5px;
    }

    .span {
        padding: 0;
        width: auto;
        margin: auto;
        column-count: auto;
    }
}

@media screen and (max-width: 520px) {
    span {
        padding: 0px;
    }

}

@media screen and (max-width: 421px) {
    .heading {
        font-size: 30px;
    }

    i {
        font-size: 25px;
    }


}