@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #111418;
    background-color: rgba(189, 189, 189, 0.021);
    font-family: Open-Sans, sans-serif;
    font-weight: 300;
}

section {
    min-height: calc(100vh - 128px);
}

footer {
    /* position: inherit; */
    /* width: 50%; */
    margin: auto;
    text-align: center;
}

/* button {
    padding: 30px;
} */

/* .game-background {
    background-color: #11141888;
    background: url(../images/money.jpg) no-repeat center center;
    border-radius: 50px;
    min-height: calc(100vh - 87px);
} */

.game-background {
    color: #111418;
    font-family: Open-Sans, sans-serif;
    font-weight: 300;
    border: none;
    padding: 0;
    box-sizing: border-box;
    width: 50%;
    margin: auto;
    background-color: crimson;
    border: solid black 1px;
    border-radius: 5px;
}

.heading {
    text-align: center;
    padding: 25px;
    /* margin: 25px; */
}

#euro-sign {
    padding: 10px;
    color: gold;
    font-size: 40px;
}

.number-div {
    text-align: center;
}

.num-button {
    color: white;
    background-color: rgba(2, 2, 2, 0.8);
    font-size: 20px;
    padding: 15px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

i {
    font-size: 30px;
}

.results-section {
    text-align: center;
    color: green;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

.results-button {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

/* .money-image {
    width: auto;
    height: 100px;
} */